*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #6e6e6e;
    font-family:sans-serif;
}
.Layout{
    display: flex;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.a{
    text-decoration: none;
    color: white;
}
.max-size{
    width: 100%;
    height: 100vh;
}
.btn{
    width: 200px;
    height: 50px;
    
}