---

---
<div class="footer flex">
    <div class="madeby">
        <p>Astro + SolidJS</p>
    </div>
</div>

<style lang="scss">
    .footer{
        background-color: black;
        width: 100vw;
        height: 60px;
        color: white;
        flex-direction: column;
        .madeby{
            display: flex;
        }
    }
</style>